@import url(//fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,cyrillic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

@mixin inline-justify {
  text-align: justify;
  &:after {
    content: " ";
    display: inline-block;
    width: 100%;
  }
}

a {
  color: #29b0f5;
  border-bottom: 1px solid #29b0f5;
  text-decoration: none;
}

h1 {
  display: block;
  margin-top: 0;
  text-align: center;
  color: #212121;
  font-size: 42px;
  font-weight: 500;
  small {
    display: block;
    margin-top: 4px;
    text-align: center;
    color: #727272;
    font-size: 21px;
    font-weight: 300;
  }
}

h3 {
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 24px;
}

p {
  margin-top: 9px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}