/* // Basic Typography
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 21px;
  font-weight: 300;
  color: #727272;
  margin: 0;
}

h3 {
  font-size: 21px;
  font-weight: 400;
}

.link {
  color: #29b0f5;
  border-bottom: 1px solid #29b0f5;
  text-decoration: none;
}

.title {
  &-main {
    text-align: center;
    margin-top: 65px;
    &_success {
      color: #8cc34b;
    }
  }
  &-secondary {
    text-align: center;
    margin-top: 4px;
  }
} */

