.page-header {
	position: relative;
	height: 90px;
	padding: 14px 28px;

	background-color: #8cc34b;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	
	&__wrapper {
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
		position: relative;
		max-width: 1144px;
		margin: 0 auto;
	}
	&__userpic {
		float: left;
		margin-right: 18px;
	}
	&__userinfo {
		float: left;
		position: relative;
		height: 100%;
	}
	&__social {
		float: right;
		position: absolute;
	    right: 0px;
    	top: 50%;
    	transform: translateY(-50%);
	}
}

.userpic {
	display: inline-block;
	border: none;
	&__image {
		vertical-align:bottom;
		max-width: 62px;
		max-height: 62px;
		border-radius: 50%;
		border: 1px solid white;
	}
}

.userinfo {
	padding: 5px 0px;
	&__item {
		white-space: nowrap;
		&:first-child {
			color: #fff;
			font-size: 21.26px;
			font-weight: 400;
		}
		&:last-child {
			color: rgba(#fff,0.7);
			font-size: 14.17px;
			font-weight: 400;
		}
	}
}

.social {
	&__item {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 20px;
		}
		a {
			font-size: 33px;
			color: rgba(#fff, 0.7);
			border: none;
			&:hover {
				color: rgba(#fff, 1)
			}
		}
	}
}