/* // Basic Typography
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 21px;
  font-weight: 300;
  color: #727272;
  margin: 0;
}

h3 {
  font-size: 21px;
  font-weight: 400;
}

.link {
  color: #29b0f5;
  border-bottom: 1px solid #29b0f5;
  text-decoration: none;
}

.title {
  &-main {
    text-align: center;
    margin-top: 65px;
    &_success {
      color: #8cc34b;
    }
  }
  &-secondary {
    text-align: center;
    margin-top: 4px;
  }
} */
/* .page-header {
	padding-top: 14px;
	padding-left: 28px;
	padding-right: 28px;
	padding-bottom: 14px;
	background-color: #8cc34b;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}


.user-pic {
	float: left;
	margin-right: 18px;
	border-radius: 50%;
	border: 1px solid white;
}

.user-info {
	float: left;
	// Shame
	margin-top: 5px;
	// !Shame
	&__name {
		font-size: 21px;
		font-weight: 500;
		color: white;
	}
	&__mail {
		font-size: 14px;
		font-weight: 400;
		color: white;
	}
}

.social {
	float: right;
	// Shame
	margin-top: 16px;
	// !Shame
	&__item {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 18px;
		}
	}
} */
@import url(//fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,cyrillic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
@import url(../../bower_components/normalize-scss/sass/normalize);
.page-header {
  position: relative;
  height: 90px;
  padding: 14px 28px;
  background-color: #8cc34b;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
  .page-header:after {
    content: " ";
    display: table;
    clear: both; }
  .page-header__userpic {
    float: left;
    margin-right: 18px; }
  .page-header__userinfo {
    float: left;
    position: relative;
    height: 100%; }
  .page-header__social {
    float: right;
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%); }

.userpic {
  display: inline-block; }
  .userpic__image {
    vertical-align: bottom;
    max-width: 62px;
    max-height: 62px;
    border-radius: 50%;
    border: 1px solid white; }

.userinfo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .userinfo__item {
    white-space: nowrap; }
    .userinfo__item:first-child {
      color: #fff;
      font-size: 21.26px;
      font-weight: 400; }
    .userinfo__item:last-child {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14.17px;
      font-weight: 400; }

.social__item {
  display: inline-block; }
  .social__item:not(:last-child) {
    margin-right: 20px; }
  .social__item a {
    font-size: 33px;
    color: rgba(255, 255, 255, 0.7); }
    .social__item a:hover {
      color: white; }

.page-footer {
  position: relative;
  width: 100%;
  height: 72px;
  margin-top: -72px;
  background-color: #212121;
  overflow: hidden; }
  .page-footer__descr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 510px;
    height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; }

* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0; }

.wrapper {
  min-height: 100%;
  padding-bottom: 72px; }

/* @import url(//fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,cyrillic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
@import "base";
@import "header";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #212121;
  background-image: url(/images/gplaypattern.png);
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.about {
  background-color: white;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.article-wrapper {
  padding-top: 35px;
}

.article {
  display: inline-block;
  margin-right: -5px;
  width: 49%;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  &-img {
    float:left;
    margin-right: 20px;
  }
  &-text {
    float:left;
    font-weight: 300;
  }
}

.courses {

}

.course {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: -5px;
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(72, 72, 72, 0.3);
  border-radius: 3px;
  &__info {
  }
  &__thumbnail {
    cursor: pointer;
  }
  &__title {
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
  }
  &__content {
    color: #727272;
    font-weight: 300;
  }
  &__length {
    color: #b6b6b6;
    font-weight: 300;
  }
  &__footer {
    background-color: #f6f7f2;
    font-size: 18px;
    font-weight: 400;
    color: #727272;
    &-check {
      cursor: pointer;
    }
    &-text {
      cursor: pointer;
    }
  }
  &:hover .course__thumbnail:after {
    display: block;
    height: 5px;
    width: 100%;
    background-color: #8cc34b;
  }
  &:hover .course__title {
    color: #8cc34b;
  }
}

.page-footer {
  background-color: #212121;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

#done {
  display: none;
} */
