doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="styles/main.css")
body
	.wrapper
		// header
		header.page-header
			.page-header__userpic
				a.userpic(href="#")
					img.userpic__image(src="images/scrubs.png", alt="")
			.page-header__userinfo
				ul.userinfo
					li.userinfo__item Быстров Борис Викторович
					li.userinfo__item bystrov@gmail.com
			.page-header__social
				ul.social
					li.social__item
						a(href="#")
							i.fa.fa-github
					li.social__item
						a(href="#")
							i.fa.fa-skype
					li.social__item
						a(href="#")
							i.fa.fa-vk
		// about
		section.about-wrapper
		// courses
		section.course-wrapper
		//footer
	footer.page-footer
		.page-footer__descr А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна.